{% if categories %}
<div class="container">
    <nav class="flex-space-around">
        {% for key, category in categories %}
            {% if (key + 1) % 3 == 0 %}
                <a href="{{ category.href }}" class="categories-menu-item" style="border-color:#bf1718">{{ category.name }}</a>
            {% elseif  (key + 1) % 2 == 0 %}
                <a href="{{ category.href }}" class="categories-menu-item" style="border-color:white">{{ category.name }}</a>
            {% else %}
                <a href="{{ category.href }}" class="categories-menu-item" style="border-color:#47ad33">{{ category.name }}</a>
            {% endif %}
      {% endfor %}
  </nav>
</div>
{% endif %} 
